@charset "UTF-8";

<style>
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#main {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

#list {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid gray;
  line-height: 40px;
}

#list tr {
  border-bottom: 1px solid lightgray;
}

#list th {
  background-color: rgb(245, 243, 243);
  border-bottom: 2px solid lightgray;
}

#list td:hover {
	cursor: pointer;
}

#btn_insert_stu {
	margin-top: 50px;
}
</style>