@charset "UTF-8";

/* 입력폼에 대한 테마. main_layout 너무 커져서 분리해놓은거 */

<style>
form {
	width: 80%;
	margin: 15px auto;
}

fieldset {
	border: 1px solid lightgray;
	border-radius: 15px;
	width: 60%;
	margin: auto;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

legend {
	text-align: center;
	padding: 10px 20px;
	background-color: #C5EFF6;
}

form div {
	width: 80%;
	margin: 5px auto;
}

form label {
	display: inline-block;
	width: 20%;
	text-align: right;
	margin: 4px 5px;
	padding: 8px;
	color: #6E6E6E;
	font-weight: bold;
}

form input {
	width: 450px;
	margin: 4px 5px;
	padding: 8px 12px;
	border-radius: 25px;
	outline: 0; /* 클릭했을 때 사각형으로 테두리 보이는거 없애기 */
	border-color: rgba(255, 0, 50, 0.3);
	margin-top: 15px;
}

form input:focus {
	border-color: lightgray;
}

form input:hover {
	background-color: lightgray;
}

.btn_box {
	display: flex;
	width: 60%;
	text-align: center;
	justify-content: center;
	margin: auto;
}

.btn_box button {
	margin: auto 30px;
	padding: 7px;
}

</style>